extends layout

block content

  include navbar-gifs
  
  .container.text-center
    h1.display-3.mt-5.mb-4 Funny Gifs
    .d-flex.justify-content-center
      form.col-6.mb-3(action="/gifs", method="get")
        .input-group.mb-4
          input.form-control(class="giphy-search", name="query", type="search", placeholder="Search Gifs...", aria-label="Search Gifs", aria-describedby="basic-addon2")
          .input-group-append
            button.btn.btn-warning.text-light(type="submit") Search
    .row
      each gif in gifs
        .col-lg-3.col-md-4.col-sm-6
          .d-block.mb-4.h-100
            img.img-fluid.img-thumbnail(src=""+gif.url+"")
