extends layout

block content
  .container.text-center
    h1.display-3.mb-lg-5.mb-sm-3= title
    p.lead Positive emotion, or "happiness", has been proven to improve performance.
    p.lead Research has shown that when we are happy, our brains become more engaged, more creative, and more productive.
    p.lead.mb-lg-5.mb-sm-1 The Happiness Primer is here to deliver that extra boost of happiness whenever you need it.
    h3.mb-lg-3.mb-sm-1 What makes you happy?
    .row
      .card-deck
        .card.bg-outline-dark
          img.card-img-top(src="/images/birdie.jpg", alt="image of smiling dog")
          .card-body.bg-warning
            a.btn.btn-outline-light.btn-lg(href="/photos") Cute Photos
        .card
          img.card-img-top(src="/images/elmo.gif", alt="image of elmo on fire")
          .card-body.bg-warning
            a.btn.btn-outline-light.btn-lg(href="/gifs") Funny Gifs
        .card
          img.card-img-top(src="/images/sandcastle.jpg", alt="image of dog")
          .card-body.bg-warning
            a.btn.btn-outline-light.btn-lg(href="/quotes") Inspiring Qoutes
