nav.navbar.navbar-expand-sm.fixed-top.navbar-dark.bg-warning
  .container
    a.navbar-brand(href="/") The Happiness Primer
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarCollapse
      .navbar-nav.ml-auto
