nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-warning
  .container
    a.navbar-brand(href="/") The Happiness Primer
    div.collapse.navbar-collapse#navbarSupportedContent
      .navbar-nav.ml-auto
          a.nav-link(href="photos") Cute Photos
          a.nav-link(href="gifs") Funny Gifs
          a.nav-link(href="quotes") Motivating Quotes
