extends layout

block content

  include navbar-photos
  
  .container.text-center
    h1.display-3.my-5 Cute Photos
    .d-flex.justify-content-center
      form.col-6.mb-3(action="/photos", method="get")
        .input-group
          input.form-control(class="flickr-search", name="query", type="search", placeholder="Search Photos...", aria-label="Search Photos", aria-describedby="basic-addon2")
          .input-group-append
            button.btn.btn-warning.text-light(type="submit") Search
    .row
      each photo in photos
        .col-lg-3.col-md-4.col-sm-6
          .d-block.mb-4.h-100
            img.img-fluid.img-thumbnail(src=""+photo.url+"")
