body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFF;
  background-color: #FF8033;
}

a {
  color: #FFF;
}

.btn {
  white-space: normal;
}

.material-icons {
  font-size: 2.5rem;
}
